* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/MidtermEvalTestCase.txt -text
/NEWS -text
/README -text
/apertium-sl-es.es-sl.t1x -text
/apertium-sl-es.es-sl.t2x -text
/apertium-sl-es.es-sl.t3x -text
/apertium-sl-es.es.dix -text
/apertium-sl-es.es.tsx -text
/apertium-sl-es.post-es.dix -text
/apertium-sl-es.sl-es.dix -text
/apertium-sl-es.sl-es.t1x -text
/apertium-sl-es.sl-es.t2x -text
/apertium-sl-es.sl-es.t3x -text
/apertium-sl-es.sl.dix -text
/autogen.sh -text
/configure.ac -text
dev/apertium-sl-es.sl-es-crossed.dix -text
dev/apertium-sl-es.sl-es-crossed2.dix -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/crossed-common.dix -text
dev/generation-summary.sl-es.txt -text
dev/generation-test.py -text
dev/missing-bidix-freq.sh -text
dev/parcount -text
/es-sl.prob -text svneol=unset#unset
/lexchoicebil.xsl -text
/modes.xml -text
/sl-es.prob -text
