* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sl-es.es-sl.t1x -text
/apertium-sl-es.es-sl.t2x -text
/apertium-sl-es.es-sl.t3x -text
/apertium-sl-es.es.acx -text
/apertium-sl-es.es.dix -text
/apertium-sl-es.es.tsx -text
/apertium-sl-es.post-es.dix -text
/apertium-sl-es.post-sl.dix -text
/apertium-sl-es.sl-es.dix -text
/apertium-sl-es.sl-es.t1x -text
/apertium-sl-es.sl-es.t2x -text
/apertium-sl-es.sl-es.t3x -text
/apertium-sl-es.sl.acx -text
/apertium-sl-es.sl.dix -text
/apertium-sl-es.sl.tsx -text
/autogen.sh -text
/configure.ac -text
dev/Scripts/Bidix[!!-~]-[!!-~]clean[!!-~]comments.php -text
dev/Scripts/Intersect[!!-~]with[!!-~]es-ca[!!-~]ES[!!-~]mono/Make[!!-~]intersect.php -text
dev/Scripts/Monodix[!!-~]-[!!-~]Sort[!!-~]paradigm[!!-~]entries.php -text
dev/Scripts/Monodix[!!-~]-[!!-~]sort[!!-~]lemmas[!!-~]by[!!-~]type.awk -text
dev/Scripts/Nouns/1)[!!-~]ES[!!-~]gender/1)[!!-~]Get_gender.awk -text
dev/Scripts/Nouns/1)[!!-~]ES[!!-~]gender/2)[!!-~]Parse[!!-~]data.php -text
dev/Scripts/Nouns/2)[!!-~]SL[!!-~]gender/1)[!!-~]Get_gender.awk -text
dev/Scripts/Nouns/2)[!!-~]SL[!!-~]gender/2)[!!-~]Parse[!!-~]data.php -text
dev/Scripts/Nouns/3)[!!-~]Merge[!!-~]with[!!-~]genders/1)[!!-~]Back[!!-~]to[!!-~]bidix[!!-~]with[!!-~]genders.php -text
dev/Scripts/Nouns/3)[!!-~]Merge[!!-~]with[!!-~]genders/2)[!!-~]Create[!!-~]intersect[!!-~]with[!!-~]target[!!-~]monodix.php -text
dev/Scripts/Nouns/3)[!!-~]Merge[!!-~]with[!!-~]genders/3)[!!-~]Bidix[!!-~]intersect.php -text
dev/Scripts/Remove[!!-~]duplicate[!!-~]lemmas.awk -text
dev/Scripts/Remove[!!-~]not_translated[!!-~]lemms[!!-~]from[!!-~]MONO/Check.php -text
dev/Scripts/Useless[!!-~]scripts/Top10000[!!-~]-[!!-~]back[!!-~]to[!!-~]bidix.php -text
dev/Scripts/Verbs[!!-~]-[!!-~]perf:imperf/1)[!!-~]Get[!!-~]perf[!!-~]or[!!-~]imperf.awk -text
dev/Scripts/Verbs[!!-~]-[!!-~]perf:imperf/2)[!!-~]Back[!!-~]to[!!-~]bidix[!!-~]with[!!-~]aspect.php -text
dev/Scripts/Verbs[!!-~]-[!!-~]translate[!!-~]with[!!-~]big[!!-~]G/1)[!!-~]Bidix[!!-~]-[!!-~]output[!!-~]lemmas.php -text
dev/Scripts/Verbs[!!-~]-[!!-~]translate[!!-~]with[!!-~]big[!!-~]G/2)[!!-~]Check[!!-~]translations.php -text
dev/Scripts/Verbs[!!-~]-[!!-~]translate[!!-~]with[!!-~]big[!!-~]G/3)[!!-~]Check[!!-~]translations[!!-~]with[!!-~]monodix.php -text
dev/Scripts/Verbs[!!-~]-[!!-~]translate[!!-~]with[!!-~]big[!!-~]G/4)[!!-~]Back[!!-~]to[!!-~]bidix[!!-~]-[!!-~]not[!!-~]found[!!-~]transl.php -text
dev/Scripts/Verbs[!!-~]-[!!-~]translate[!!-~]with[!!-~]big[!!-~]G/5)[!!-~]Back[!!-~]to[!!-~]bidix[!!-~]form.php -text
dev/Scripts/Verbs[!!-~]-[!!-~]translate[!!-~]with[!!-~]big[!!-~]G/6)[!!-~]Back[!!-~]to[!!-~]bidix[!!-~]-[!!-~]Good[!!-~]translations.php -text
dev/Scripts/Verbs[!!-~]-[!!-~]translate[!!-~]with[!!-~]big[!!-~]G/Remove[!!-~]duplicates.awk -text
dev/apertium-sl-es.sl-es-crossed.dix -text
dev/apertium-sl-es.sl-es-crossed2.dix -text
dev/apertium-sl-es.sl-es.t1x -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/crossed-common.dix -text
dev/gen-ord.pl -text
dev/generation-summary.sl-es.txt -text
dev/generation-test.py -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/midterm/article.es.txt -text
dev/midterm/article.sl.txt -text
dev/missing-bidix-freq.sh -text
dev/parcount -text
dev/sl/apertium-sl-es.sl.dix.full -text
dev/sl/trimDict.py -text
dev/sl/update.sh -text
dev/tests/MidtermEvalTestCase.txt -text
dev/tests/pending-tests.sh -text
dev/tests/regression-tests.sh -text
dev/tests/wiki-tests.sh -text
dev/testvoc-summary.sl-es.txt -text
dev/testvoc.sh -text
/es-sl.prob -text svneol=unset#unset
/lexchoicebil.xsl -text
/modes.xml -text
/pending-tests.sh -text
/sl-es-unsupervised.make -text
/sl-es.prob -text
/wiki-tests.sh -text
